body {
    margin: 0;
    background: Indigo;
    color: white;
}

/* 4961 / 3508 = 1.4141961
80 / 60 = 1.333 */

#container{
    margin: 0 auto;
    margin-top: 15vh;
    height:70vh;
    width: 80vw;
    background-color: red;
    z-index: 2;
}


canvas{
    background: white;
    border: 1px solid gold;
}